@model IEnumerable<Items.Models.Item>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Tavarat</h1>

<h2>Hae</h2>

<form asp-controller="Home" asp-action="Hae">
    <p>
        Hakusana: <input type="text" name="SearchString">
        <input type="submit" value="Hae" />
    </p>
</form>

<h2>Poista</h2>

<form asp-controller="Home" asp-action="Poista">
    <p>
        Poista tavara, jonka numero on <input type="text" name="itemId">
        <input type="submit" value="Poista" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemLocation)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemLocation)
            </td>
        </tr>
        }
    </tbody>
</table>



